@{
    ViewBag.Title = "About";
}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=es"></script>
<style>
    .page {
        background: none repeat scroll 0 0 white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
        /*margin: 70px 0 0;*/
        padding: 30px 12% 80px;
    }

    #map-canvas {
        height: 400px;
    }
</style>

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Acerca de Service Market</h3>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <!-- Nuestro Objetivo -->
                    <div class="margin-bottom-20">
                        <div class="headline">
                            <h3>Nuestro Objetivo</h3>
                        </div>
                        <p style="text-align:justify">Service Market tiene como principal objetivo facilitar la búsqueda y contratación de servicios persona a persona, convirtiendo una tarea que en ocasiones es difícil y tediosa en una experiencia simplemente extraordinaria. </p>
                    </div>
                    <!-- Misión -->
                    <div class="margin-bottom-20">
                        <div class="headline">
                            <h3>Misión</h3>
                        </div>
                        <p style="text-align:justify">Nuestra misión es facilitar, promover y resaltar los beneficios de la contratación de servicios persona a persona ofreciendo a nuestros usuarios una herramienta fácil de utilizar, amigable para cualquier tipo de usuario y sobre todo visualmente agradable. </p>
                    </div>
                    <!-- Visión -->
                    <div class="margin-bottom-20">
                        <div class="headline">
                            <h3>Visión</h3>
                        </div>
                        <p style="text-align:justify">Ser el Sitio Web líder en cuanto a promoción y contratación de servicios persona a persona, siendo siempre la mejor opción para nuestros usuarios.</p>
                    </div>
                </div>
                <!--/span3-->

                <div class="span6">
                    <div class="headline">
                        <h3>¿Quienes Somos?</h3>
                    </div>
                    <p style="text-align:justify">
                        Service Market es una idea que nace de un pequeño grupo de programadores que han podido observar durante sus carreras profesionales los innumerables beneficios que ofrece la tecnología de información a los seres humanos.<br />
                        Nos dimos cuenta lo difícil que puede ser buscar un simple servicio cuando eres nuevo en la ciudad, incluso aún cuando ya tienes mucho tiempo de residir en el mismo lugar, cada día tienes nuevas necesidades y esto te hace
                        demandar nuevos servicios, estos muchas veces serán contratados a empresas especializadas que contratan personal para luego enviarlo a tu hogar y responder a tu necesidad. <br />
                        <strong>¿Y que tal si no quieres contratar a una empresa? </strong> Seguramente le preguntarás a tus amigos y vecinos si conocen a alguien que brinde el servicio que estas buscando. 
                        Esta búsqueda puede llevarte por caminos equivocados en donde tendrás que tomar decisiones sin contar con toda la información que te gustaría y al final no tendrás una forma fácil de compartir tu experiencia. Por este motivo
                        surge <strong>Service Market</strong> con la finalidad de promover los servicios persona a persona, permitiendole a sus usuarios contar con el respaldo de una comunidad que premia con buenos comentarios a quienes prestan los mejores servicios, de esta manera
                        siempre será fácil tomar una buena decisión.<br />
                        
                    </p>
                    
                    <!-- Blockquotes -->
                    <blockquote class="hero-unify">
                        <p style="text-align:justify">Te invitamos a descubrir todas las facilidades que ofrece Service Market. No olvides publicar tus anuncios de servicios y comentar en los anuncios de servicios contratados. Bienvenidos a todos,</p>
                        <small>Equipo Service Market</small>
                    </blockquote>

                    @*<div class="headline">
                        <h3>Nuestra Ubicación</h3>
                    </div>
                    <div id="map-canvas"></div>*@
                    <br>

                </div>
                <!--/span9-->
            </div>
        </div>
    </div>
</div>
@*<script>
    var map = null;
    var markersArray = [];
    var marker;
    //default load position

    function initialize() {


        var latlng = new google.maps.LatLng(39.4881, -75.0000);

        var mapOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var image = 'favicon.ico';
        var urlHelper = new UrlHelper();
        image = urlHelper.urlImage(image);

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: latlng,

            animation: google.maps.Animation.DROP,
            map: map,
            title: "Service Market Panamá",
            icon: image
        });




        //showRoutePath_1();
    }
    // End initialize function
    //remove all markers from map
    function clearOverlays() {
        if (markersArray) {
            for (var i in markersArray) {
                markersArray[i].setMap(null);
            }
        }
    }

    //remove specific marker from map
    function removeMarker(myMark) {
        if (markersArray) {
            for (var i in markersArray) {
                if (myMark == markersArray[i]['number']) {
                    console.log(markersArray[i]['number']);
                    markersArray[i].setMap(null);
                    markersArray.splice(i, 1); //removes marker from array
                    break;
                }
            }
        }
    }

    //check if marker already exist on map
    function checkMarker(number) {
        if (markersArray) {
            for (var i in markersArray) {
                if (markersArray[i]['number'] == number)
                    return true;
            }
        } else
            return false;
    }

    // Mapping variables
    var global_strokeColor = "#ED00FF";
    var global_strokeOpacity = 0.7;
    var global_strokeWeight = 6;

    //Route 1
    function showRoutePath_1() {
        //check if marker1 already on map if true do nothing
        if (checkMarker(1))
            return;
        position = new google.maps.LatLng(8.43581, -82.43475);
        var infowindow = new google.maps.InfoWindow({
            content: "Service Market Panamá"
        });
        marker = new google.maps.Marker({
            animation: google.maps.Animation.DROP,
            position: position,
            map: map
        });

        marker['number'] = 1;
        //google.maps.event.addListener(marker, 'click', toggleBounce);
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });

        markersArray.push(marker);

        //open infowWindow with marker
        infowindow.open(map, marker);
        //setTimeout(function () { infowindow.close(); }, 5000);


    }

    function toggleBounce() {

        if (marker.getAnimation() != null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>*@
