@{
    ViewBag.Title = "Home Page";
}



<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Service Market servicios persona a persona.</span>
            <p>Aquí usted podrá buscar los servicios que necesite sin tener que hacer filas, llamadas innecesarias y sobre todo desde cualquier parte del mundo y en el horario que le sea más conveniente.</p>
        </div>
        <a href="#" class="btn-buy hover-effect">Conozca más</a>
    </div>
</div>
<!--/row-fluid-->
<!-- End Purchase Block -->

<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>CLEAN &amp; FRESH</i>
                <br />
                <i>FULLY RESPONSIVE</i>
                <br />
                <i>DESIGN</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br />
                <i>tempor incididunt ut</i>
                <br />
                <i>veniam omnis </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/1.png")" alt="" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>RESPONSIVE VIDEO</i>
                <br />
                <i>SUPPORT AND</i>
                <br />
                <i>MANY MORE</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br />
                <i>tempor incididunt ut</i>
            </p>
            <div class="da-img span6">
                <div class="span6">
                    <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i>
                <br />
                <i>SOLUTIONS WITH</i>
                <br />
                <i>HTML5/CSS3</i></h2>
            <p>
                <i>Lorem ipsum dolor amet</i>
                <br />
                <i>tempor incididunt ut</i>
                <br />
                <i>veniam omnis </i>
            </p>
            <div class="da-img">
                <img src="@Url.Content("~/Images/html5andcss3.png")" alt="image01" />
            </div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
    <!--/da-slider-->
</div>

<br />


<div class="container-fluid">
    <div class="row">
        <div class="span6">
            <div class="form-inline">

                <input id="txtSearchHome" class="span5" type="text" placeholder="Location: City, State, Zip">
                <button type="submit" class="btn btn-u"><i class="icon-search icon-white"></i></button>
            </div>
        </div>

        <div class="span4">
            <a href="#advanced" role="button" data-toggle="modal" class="btn btn-warning">Advanced Sort</a>
        </div>
    </div>
</div>
<br />

<div id="advanced" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="advancedSort" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="#date" data-toggle="pill">Date</a>
            </li>
            <li><a href="#relevance" data-toggle="pill">Relevance</a></li>
            <li><a href="#dealership" data-toggle="pill">Dealership</a></li>
        </ul>
        <h4>Advanced Sort</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="date">
                    <form>
                        <div class="controls controls-row">
                            <select>
                                <option>Date</option>
                                <option>Today</option>
                                <option>Yesterday</option>
                                <option>Last Week</option>
                                <option>Last Month</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-warning">Sort</button>
                    </form>
                </div>
                <div class="tab-pane" id="relevance">
                    <form>

                        <div class="controls controls-row">
                            <select class="span6">
                                <option value="">Relevance Factor</option>
                                <option value="">Containing</option>
                                <option value="">Starting with</option>
                                <option value="">Enging with</option>
                            </select>
                            <select class="span6">
                                <option value="">Sorting</option>
                                <option value="">Relevant on top</option>
                                <option value="">Relevant on bottom</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-warning">Sort</button>

                    </form>
                </div>
                <div class="tab-pane" id="dealership">
                    <form>

                        <div class="controls controls-row">
                            <input type="text" class="span8" placeholder="Location">
                            <select class="span4">
                                <option>City</option>
                                <option>Los Angeles</option>
                                <option>Tokyo</option>
                                <option>New York</option>
                                <option>London</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-warning">Sort</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Anuncios Table with pagination-->
<div style="width: 100%">
    <table class="table-hover">
        <thead>
        </thead>
        <tbody id="anunciosAvailable">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <div class="holder" style="float: left">
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>

<div id="divNoAnunciosFound" class="bold large span12" style="padding: 5px; display: none;">
    No se obtuvieron resultados.
</div>


<!--/slider-->
<!--=== End Slider ===-->
<script type="text/javascript">
    jQuery(document).ready(function () {
        Index.initParallaxSlider();

        jQuery('#txtSearchHome').keyup(function () {
            debugger;
            var text = jQuery('#txtSearchHome').val();
            var rows = jQuery('#anunciosAvailable > tr');

            rows.each(function (idx, elem) {
                var rowText = $(elem).text().toLowerCase();
                if (rowText.indexOf(text.toLowerCase()) < 0) {
                    jQuery(elem).hide();
                }
                else {
                    jQuery(elem).show();
                }
            });
            setTimeout('CheckVisibleProjects();', 300);
        });


    });
    var $ki = jQuery.noConflict();
    $ki(function () {
        jQuery.ajax(
        {
            type: 'post',
            url: '@Url.Action("GetServices", "Home")',
            success: function (data) {
                debugger;
                var result = JSON.parse(data);
                var htmldata = '';
                jQuery.each(result.$values, function (val, anuncio) {
                    htmldata += '<tr><td><div class="row-fluid">';
                    htmldata += '<div class="span12 booking-blocks"> ';
                    htmldata += '<div class="pull-left booking-img">';
                    htmldata += '<img src=' + anuncio.FirstImage + ' alt=' + anuncio.Usuario + '> ';
                    htmldata += '<ul class="unstyled">';
                    htmldata += '<li><i class="icon-briefcase"></i>' + anuncio.CategoriaDescripcion + '</li> ';
                    htmldata += '<li><i class="icon-map-marker"></i>' + anuncio.AnunciosInfo.AN_Area + '</li>';
                    htmldata += '<li>';
                    htmldata += '<ul class="unstyled inline"> ';
                    htmldata += ' <li><i class="icon-star"></i></li>';
                    htmldata += '<li><i class="icon-star"></i></li>';
                    htmldata += '<li><i class="icon-star"></i></li>';
                    htmldata += '<li><i class="icon-star"></i></li>';
                    htmldata += '<li><i class="icon-star-empty"></i></li>';
                    htmldata += '</ul>';
                    htmldata += '</li>';
                    htmldata += '</ul>';
                    htmldata += '</div>';
                    htmldata += '<div style="overflow: hidden;">';
                    htmldata += '<h2><a href="#">' + anuncio.AnunciosInfo.AN_Titulo + '</a></h2> ';
                    htmldata += '<b>' + anuncio.Usuario + '</b>';
                    htmldata += '<p>' + anuncio.AnunciosInfo.AN_Descripcion + '</p>';
                    htmldata += '<button class="btn-u btn-u-orange">Leer Más</button>';
                    htmldata += '</div>';
                    htmldata += '</div>';
                    htmldata += '</div></td> </tr>';
                });
                jQuery('#anunciosAvailable').append(htmldata);
                $ki("div.holder").jPages({
                    containerID: "anunciosAvailable",
                    //              previous: "←",
                    //              next: "→",
                    first: "first",
                    previous: "previous",
                    next: "next",
                    last: "last",
                    perPage: 7,
                    delay: 20
                });
            },
            error: function (a, b, c) {
                alert(a);
            }
        });
    });


    function CheckVisibleProjects() {
        var rows = jQuery('#anunciosAvailable > tr');
        if (rows.filter(':hidden').size() == rows.length) {
            jQuery('#divNoAnunciosFound').fadeIn(1000);
        }
        else {
            jQuery('#divNoAnunciosFound').hide();
        }
    }

</script>
