@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">
        <div class="another-page">
            <div class="headline">
                <h3>Políticas de Privacidad de Service Market</h3>
            </div>
            <h5 class="margin-bottom-25">En Service Market las políticas de privacidad nos parecen algo esencial para que nuestros usuarios estén concientes de los datos que utilizamos y la manera en que estos seran almacenados. Estas políticas no aplican para empresas proveedores o demás entidades que no esten controladas por Service Market.
            </h5>
            <br />
            <h4 class="color-green">1. Recolección de datos.</h4>
            <h5 class="margin-bottom-25">Para ser usuario de Service Market, le solicitamos su nombre completo y su dirección de correo de forma obligatoria, siendo los demás datos solicitados opcionales. Puede recibir mensajes a su dirección de correo de los servicios ofrecidos por nuestro sitio web.
            </h5>
            <br />
            <h4 class="color-green">2. Uso de la información.</h4>
            <h5 class="margin-bottom-25">Al registrarse en Service Market acepta que la información de los anuncios puede ser utilizada en sitios públicos con el fín de mejorar los servicio ofrecidos. Service Market puede utilizar su información para enviar en su nombre correos a otros usuarios como parte de los servicios que ofrece nuestro sitio web.
            </h5>
            <br />
            <h4 class="color-green">3. Eliminación de la cuenta</h4>
            <h5 class="margin-bottom-25">Los usuarios registrados en Service Market que deseen eliminar su cuenta pueden solicitarlo utilizando nuestra página de contacto. Este proceso puede tardar hasta 5 días hábiles. Una vez se haya eliminado su cuenta, todos sus anuncios y solicitudes de servicio quedarán automáticamente eliminados, sin embargo, la información que haya sido registrada por otros buscadores o proveedores no se verá modificada debido a no ser parte íntegra de Service Market.
            </h5>
            <br />
            <h4 class="color-green">4. Cookies</h4>
            <h5 class="margin-bottom-25">Service Market puede utilizar "cookies" en algunas páginas del sitio para mejorar y personalizar algunos de sus servicios, optimizar los contenidos de anuncios publicitarios y calcular la eficacia de las promociones. Al igual que Service Market, los demás proveedores publicitarios pueden almacenar cookies en el equipo del usuario.
            </h5>
            <br />
            <h4 class="color-green">5. Cambio en las políticas</h4>
            <h5 class="margin-bottom-25">Service Market puede realizar cambios en sus políticas de privacidad en el momento que sea necesario. En caso de cambios significativos estaríamos notificandole a nuestros usuarios ya sea mediante correo electrónico (correo de ingreso al sitio) o en un mensaje en nuestro sitio web. 
            </h5>
        </div>
    </div>
</div>
