@{
    ViewBag.Title = "Terminos y Condiciones de Service Market";
}

<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">
        <div class="another-page">
            <div class="headline">
                <h3>Términos de Uso y Condiciones de Servicio de Service Market</h3>
            </div>

            <div class="row-fluid privacy">
                <h5 class="margin-bottom-25">A continuación se describen las condiciones de uso bajo las cuales Service Market brinda acceso a sus servicios.</h5>
                <br />
                <h4 class="color-green">1. Aceptación de Términos de Uso y de sus actualizaciones.</h4>

                <h5 class="margin-bottom-25">Una vez se haya registrado y cada vez que utilice o ingrese a Service Market, está aceptando los términos de uso y las actualizaciones de estos términos con o sin previo aviso. Además, usted acepta cualquier regla o pauta aplicable a los servicios que ofrece Service Market.</h5>
                <br />
                <h4 class="color-green">2. Servicios de Service Market.</h4>

                <h5 class="margin-bottom-25">Usted acepta que Service Market se reserva el derecho de cada uno de los servicios proporcionados y en cualquier momento con o sin previo aviso y sin ninguna responsabilidad hacia usted, puede modificar o descontinuar el uso y sus servicios, esto incluye la posibilidad de suprimir temporal o permanentemente los datos que usted proporcione. Service Market no tienen ninguna responsabilidad por la puntualidad, cancelación, interrupción en el servicio, inexactitud o la entrega incorrecta de datos o información.</h5>
                <br />
                <h4 class="color-green">3. Responsabilidades del Usuario</h4>

                <h5 class="margin-bottom-25">Para utilizar los servicios que ofrece Service Market, usted debe registrarse y brindar información veraz cuando sea solicitada y ser mayor de edad. Al registrarse, usted acepta explícitamente nuestros Términos de Uso y Condiciones de Servicios y las modificaciones que se realicen a estos en cualquier momento.</h5>
                <br />
                <h4 class="color-green">4. Política De Privacidad.</h4>

                <h5 class="margin-bottom-25">Los datos de registro y toda información que llegáramos a recoger de usted y que lo identifique como información personal, están respaldados por nuestros Términos de Política de Privacidad.</h5>
                <br />
                <h4 class="color-green">5. Consentimiento a Uso de la Información.</h4>

                <h5 class="margin-bottom-25">El registro de una cuenta y publicación de servicios en Service Market implica que la información del anunciante estará disponible públicamente en nuestro sitio y podrá ser utilizada por nosotros o por nuestros proveedores para mejorar los servicios que ofrecemos.</h5>
                <br />
                <h4 class="color-green">6. Eliminación de la Cuenta.</h4>

                <h5 class="margin-bottom-25">Los usuarios que deseen la eliminación de su cuenta, deben contactarse con nuestros agentes Service Market mediante el formulario de contáctenos. Este proceso puede tardar hasta 5 días hábiles. La eliminación de su cuenta deshabilitará cada uno de sus anuncios y solicitudes de servicios, sin embargo, no somos responsable por los listados publicados en otros buscadores.</h5>
                <br />
                <h4 class="color-green">7. Contraseña de Service Market.</h4>

                <h5 class="margin-bottom-25">Los usuarios de Service Market son responsables de mantener en secreto su contraseña de inicio de sesión, y deberá notificar inmediatamente de cualquier uso no autorizado de su usuario.</h5>
                <br />
                <h4 class="color-green">8. Conducta de Usuario.</h4>

                <h5 class="margin-bottom-25">El usuario acepta que toda la información o datos de cualquier clase (texto, música, fotografías o videos), proporcionado pública o privadamente, serán responsabilidad única del titular de la cuenta. También acuerda que Service Market puede retirar el contenido que puede ser desagradable u ofensivo. No seremos responsables, de ninguna manera, del contenido que aparece en nuestro Sitio Web ni de cualquier error u omisión. El usuario acuerda explícitamente, al utilizar los servicios de Service Market o cualquier servicio proporcionado, a que no:
                </h5>
                <h5 class="margin-bottom-25">(a) Proporciona ningún contenido o realiza cualquier conducta la cual pueda ser ilegal, amenazante, dañina, abusiva, acosadora, acechadora, torturadora, difamatoria, vulgar, obscena, ofensiva, desagradable, pornográfica, diseñada a interferir o interrumpir el correcto funcionamiento de este Sitio Web o cualquier servicio proporcionado, infectado con un virus o cualquier otra rutina de programación destructiva o deletérea, esto dará lugar a responsabilidad civil o criminal, ya sea por violar una ley local, nacional o internacional aplicable;
                </h5>
                <h5 class="margin-bottom-25">(b) Personifica o falsifica su asociación con cualquier persona o entidad, o forjara o intentara de otra manera encubrir o falsificar el origen de cualquier contenido proporcionado por usted;
                </h5>
                <h5 class="margin-bottom-25">(c) Va a recoger, tomar, prestar ni difundir cualquier dato sobre o pertenecientes a otros usuarios como fotos, direcciones email, descripción;
                </h5>
                <h5 class="margin-bottom-25">(d) Proporciona o utiliza este Sitio Web y cualquier contenido o servicio, de cualquier manera que implicara el correo de chatarra, el Spam, las cartas de cadena, los esquemas de pirámide, o cualquier otra forma de publicidad desautorizada sin nuestro previo consentimiento por escrito;
                </h5>
                <h5 class="margin-bottom-25">(e) Proporciona cualquier contenido que pueda dar lugar a nuestra responsabilidad civil o criminal o que pueda constituir o ser considerado una violación de cualquier derecho local, nacional o internacional, incluyendo, pero no ser limitado a las leyes referentes a los derechos reservados, marca registrada, patente, o a los secretos;
                </h5>
                <h5 class="margin-bottom-25">(f) Refrescar, reescribir, re-publicar su anuncio de manera periódica, con la intención de aparecer en la portada o permanecer primero en los listados de los anuncios;
                </h5>
                <h5 class="margin-bottom-25">(g) No abrir múltiples cuentas (gratis) con el mismo emails, mismo nombre, organización, compañía, logo y/o información de contacto.
                </h5>
                <br />
                <h4 class="color-green">9. Anuncios No Permitidos.</h4>
                
                <h5 class="margin-bottom-25">Se prohíbe la publicación de anuncios que incluyan:</h5>

                <h5 class="margin-bottom-25">9.1. Cualquier arma de fuego, municiones, balas, cartuchos, silenciadores, convertidores (cualquier artículo que pueda convertir un arma de fuego para tener capacidad automática), kits (que se puedan utilizar para crear un arma de fuego), lanzallamas, etc. Otras armas.
                </h5>
                <h5 class="margin-bottom-25">9.2. Sustancias no permitidas, medicamentos y artículos farmacéuticos, anabólicos y esteroides, ningún tipo de drogas o medicamentos, suplementos dietarios, complementos vitamínicos, ni nada que involucre la salud, ya sean o no 100% naturales.
                </h5>
                <h5 class="margin-bottom-25">9.3. Productos robados.
                </h5>
                <h5 class="margin-bottom-25">9.4. Órganos, restos o residuos humanos.
                </h5>
                <h5 class="margin-bottom-25">9.5. Animales y especies en vías de extinción.
                </h5>
                <h5 class="margin-bottom-25">9.6. Artículos de contrabando, falsificados o adulterados o réplicas.
                </h5>
                <h5 class="margin-bottom-25">9.7. Pólvora o material explosivo.
                </h5>
                <h5 class="margin-bottom-25">9.8. Listas de correo o bases de datos personales o empresariales.
                </h5>
                <h5 class="margin-bottom-25">9.9. Artículos que promuevan la violencia y/o discriminación.
                </h5>
                <h5 class="margin-bottom-25">9.10. Contenidos relacionados con la pornografía, eróticos o no aptos para menores, etc.,
                </h5>
                <h5 class="margin-bottom-25">9.11. Artículos en infracción a los derechos de autor.
                </h5>
                <h5 class="margin-bottom-25">9.12. Documentos de identidad personal, tarjetas de crédito o débito, tampoco se permite la publicación de bases de datos que incluyan números de tarjetas de crédito o débito, o cualquier otro dato de carácter privado.
                </h5>
                <h5 class="margin-bottom-25">9.13. Servicios o herramientas destinadas a infectar con virus, hackear sitios web o dispositivos electrónicos.
                </h5>
                <h5 class="margin-bottom-25">9.14. Servicios que puedan ser utilizados para quebrantar leyes Nacionales o Internacionales.
                </h5>
                <h5 class="margin-bottom-25">9.15. Contenidos que violan los derechos de autor.
                </h5>
                <h5 class="margin-bottom-25">9.16. Contenido dudoso (falso) o que carezcan de seriedad.
                </h5>
                <h5 class="margin-bottom-25">9.17. Promoción de otros sitios web, sin previa autorización nuestra por escrito.
                </h5>
                <h5 class="margin-bottom-25">9.18. Comentarios en general que contengan palabras indebidas u obscenas.
                </h5>
                <h5 class="margin-bottom-25">9.19. Contenido político.
                </h5>
                <h5 class="margin-bottom-25">9.20. Servicios de préstamos o créditos personales.
                </h5>
                <h5 class="margin-bottom-25">Al proporcionar cualquier contenido a nuestro Sitio Web, el usuario acepta:
                </h5>
                <h5 class="margin-bottom-25">(a) darnos la concesión mundial, regalías, derecho-libre, perpetua, no-exclusiva y la licencia (cualquier derecho incluyendo los derechos morales u otras derechos necesarios) de utilizar, exhibir, reproducir, modificar, adaptar, publicar, distribuir, realizar, promover, archivar, traducir, y crear trabajos y las recopilaciones del derivado, entero o en parte. Tal licencia se aplicará con respecto a cualquier forma, medios, tecnología sabida o desarrollada más adelante;
                </h5>
                <h5 class="margin-bottom-25">(b) tener todo los derechos legales, morales, y otros derechos que puedan ser necesarios para concedernos con la licencia dispuesta en esta sección 9;
                </h5>
                <h5 class="margin-bottom-25">(c) ceder a Service Market los derechos (pero no obligación), a discreción nuestra, de rechazar publicar o quitar, o bloquear el acceso a cualquier contenido que usted proporcione en cualquier momento y por cualquier razón, con o sin el aviso.
                </h5>
                <br />
                <h4 class="color-green">10. Indemnización.</h4>
                <h5 class="margin-bottom-25">Usted acuerda indemnizar y mantenernos no culpables, a nuestros subsidiarios, afiliados, relacionados, oficiales, directores, empleados, agentes, contratistas independientes, publicistas, socios, y co –propietarios de cualesquiera demanda o exigencia , incluyendo los honorarios del abogado, que se pueden hacer por cualquier tercera parte , debido a cual sea o que se presenta fuera de su conducta o conexión con este Sitio Web o servicio, su disposición del contenido, su violación de este Término de Uso de cualquier otra violación de los derechos de otra persona.
                </h5>
                <br />




                <h4 class="color-green">11. RENUNCIA DE GARANTIAS.</h4>
                <h5 class="margin-bottom-25">EL USUARIO DE SERVICE MARKET ENTIENDE Y CONVIENE QUE EL USO DE ESTE Sitio Web Y CUALESQUIERA SERVICIOS O CONTENIDO PROPORCIONADO (EL "SERVICIO") ESTÁ HECHO DISPONIBLE A SU PROPIO RIESGO. SE PROPORCIONA USTED "AL IGUAL QUE" Y EXPRESAMENTE DECLINA TODAS LAS GARANTÍAS DE BUENO, IMPLICADAS O EXPRESE, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DEL PRODUCTO, APTO PARA UN PROPÓSITO PARTICULAR, Y NO INFRACTORIO.
 
NO OTORGAMOS NINGUNA GARANTÍA, IMPLICADA NI EXPRESA, QUE CUALQUIER PARTE DEL SERVICIO ESTARÁ INTERRUMPIDO, SIN ERROR, LIBRE DE VIRUS, OPORTUNO, SEGURO, EXACTO, CONFIABLE, DE CUALQUIER CALIDAD, NI QUE CUALQUIER CONTENIDO ES SEGURO DE CUALQUIER MANERA PARA LA TRANSFERENCIA DIRECTA. USTED ENTIENDE Y CONVIENE QUE NI NOSOTROS, NI CUALQUIER PARTICIPANTE EN EL SERVICIO PROPORCIONA CONSEJOS PROFESIONALES DE CUALQUIER CLASE Y QUE EL USO DE TAL CONSEJO O CUALQUIER OTRA INFORMACIÓN LA PUEDE USAR BAJO SU PROPIO RIESGO Y SIN NUESTRA RESPONSABILIDAD DE NINGUNA CLASE POR PARTE NUESTRA.
 
Algunas jurisdicciones pueden no permitir renuncia de garantías implicadas y la renuncia antedicha puede no aplicar a usted solamente mientras que se relaciona con las garantías implicadas.
                </h5>
                <br />

                <h4 class="color-green">12. LIMITACIÓN DE LA RESPONSABILIDAD.</h4>
                <h5 class="margin-bottom-25">EL USUARIO EXPRESAMENTE ENTIENDE Y ACUERDA QUE NO SEREMOS OBLIGADOS POR NINGÚN DAÑO DIRECTO, INDIRECTO, ESPECIAL, INCIDENTE, O CONSECUENTE, INCLUYENDO PERO NO LIMITADOS A, LOS DAÑOS POR LA PÉRDIDA DE BENEFICIOS, LA VOLUNTAD, EL USO, LOS DATOS O LA OTRA PÉRDIDA INTANGIBLE (INCLUSO SI NOS HAN ACONSEJADO DE LA POSIBILIDAD DE TALES DAÑOS), RESULTANDO DE O RESULTANTES
(I) EL USO DE O DE LA INHABILIDAD DE UTILIZAR EL SERVICIO,
 
(II) EL COSTO PARA OBTENER MERCANCÍAS SUBSTITUTAS Y/O LOS SERVICIOS QUE RESULTABAN DE CUALQUIER TRANSACCIÓN POR MEDIO DEL USO DEL SERVICIO,
 
(III) ACCESO DESAUTORIZADO A O LA ALTERACIÓN DE SUS TRANSMISIONES DE DATOS,
 
(IV) DECLARACIONES O CONDUCTA DE CUALQUIER TERCERO EN EL SERVICIO, O (V) DE CUALQUIER OTRA MATERIA REFERENTE AL SERVICIO.
 
En algunas jurisdicciones, no se permite limitar responsabilidad y por lo tanto tales limitaciones pueden no aplicarse a usted.

                </h5>
                <br />

                <h4 class="color-green">13. Derechos Reservados.</h4>
                <h5 class="margin-bottom-25">Reservamos todos nuestros derechos, incluyendo pero no limitando a cualesquiera y todos los derechos reservados, marcas registradas, patentes, secretos comerciales, y cualquier otro derecho de propiedad que podamos tener en nuestro Sitio Web, su contenido, y las mercancías y los servicios que pueden ser proporcionados. El uso de nuestros derechos y nuestras propiedades requiere nuestro consentimiento anteriormente escrito. No estamos proveyendo a usted nuestros derechos poniendo servicios a disposición de usted y usted no tendrá ningún derecho a hacer ningunas aplicaciones comerciales de nuestro Sitio Web o servicio sin nuestro consentimiento anteriormente escrito.
                </h5>
                <br />

                <h4 class="color-green">14. Notificación de la infracción de Derechos Reservados.</h4>
                <h5 class="margin-bottom-25">Si usted cree que su propiedad se ha utilizado en cualquier manera que fuera considerada infracción a los derechos reservados o una violación de sus derechos de propiedad intelectual, se puede poner en contacto con nosotros desde el formulario de contacto.
                </h5>
                <br />

                <h4 class="color-green">15. Ley Aplicable.</h4>
                <h5 class="margin-bottom-25">El usuario conviene que estos Términos de Uso y cualquier disputa presentada por el uso de este Sitio Web o nuestros productos o servicios serán gobernados e interpretados de acuerdo con leyes locales donde las jefaturas del dueño de este Sitio Web se localizan, sin consideración alguna hacia su conflicto de las provisiones de la ley. Registrándose o usando esta Página Web, se acepta y se somete a la jurisdicción y al lugar exclusivo del condado o de la ciudad en donde las jefaturas del dueño de este Sitio Web se localizan.
                </h5>
                <br />

                <h4 class="color-green">16. Información Miscelánea.</h4>
                <h5 class="margin-bottom-25">1. En caso que los Términos de Uso estén en conflicto con cualquier ley bajo la cual cualquier disposición se pueda llevar a cabo inválido por una corte con la jurisdicción sobre las partes, tal disposición será interpretada para reflejar las intenciones originales de las partes de acuerdo con ley aplicable, y el resto de los Términos de Uso seguirá siendo válido e intacto;
 
2. La falta de cualquiera de las partes de afirmar cualquier derecho bajo términos de uso no será considerado una renuncia de los derechos de las partes y sigue siendo derechos y efecto;
 
3. El usuario acuerda que sin consideración alguna hacia cualquier estado o la ley contraria que cualquiera demanda o causa presentarse fuera de este Sitio Web o sus servicios se deben archivar dentro de uno (1) año después de que se presentó tal demanda o la causa o la demanda será borrada por siempre;
 
4. Podemos asignar nuestros derechos y obligaciones bajo los Términos de Uso y seremos relevados de cualquier otra obligación.

                </h5>
                <br />


                <h4 class="color-green">17. FOTOS E IMAGENES ANUNCIADAS</h4>
                <h5 class="margin-bottom-25">Para garantizar la calidad de los anuncios y proteger los derechos de autor, Service Market estará poniendo especial atención a las fotos publicadas. Si las fotos que agregues al anuncio tienen baja resolución o no fueron tomadas directamente por el anunciante, tienen el riesgo de ser eliminadas. Se mantendrá el anuncio publicado, más se borrará toda foto con las siguientes características:
 
1. Fotos baja resolución, tomadas a partir de imágenes pequeñas.
 
2. Fotos con logos de otras página web similares a Service Market
 
3. Fotos al azar tomadas de Internet con derechos de propiedad intelectual.

                </h5>
                <br />

                <h4 class="color-green">18 .CONDUCTA RESPETUOSA</h4>
                <h5 class="margin-bottom-25">Cualquier cliente o usuario con una conducta no apropiada y que se dirija de manera irrespetuosa a través de insultos, gritos, racismo, vulgaridades, amenazas podrá ser  permanentemente bloqueado a futuros inicios de sesión en nuestro Sitio Web. Esto incluye comunicaciones de ese tipo por los medios telefónicos, email, chat y reportes de soporte técnico.
 
Service Market procura ofrecer el mejor servicio y hacer prevalecer el respeto, cortesía, y paciencia con todos nuestros usuarios y clientes por igual. Esperamos el mismo trato por parte de todos.
 
Las Condiciones de Servicio de Service Market aplican para todo tipo de usuarios, y no excluye a nadie sin importar el país o idioma.


                </h5>
                <br />

            </div>

        </div>
    </div>
</div>
