@{
    ViewBag.Title = "Error";
}


<br />
<div class="container">
    <div class="row-fluid margin-bottom-10 page-404"">
        <div class="another-page">
            <div class="headline">
                <h3>Página no encontrada</h3>
            </div>
            <div>    
    	        <p>
                    <i>404</i>
    	        </p>
            </div>
            @*<h1 class="error">@ViewBag.Message</h1>*@
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
