@{
    ViewBag.Title = "Index";
}
<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Blog Service Market</h3>
            </div>

            <div class="span6">
                <a class="twitter-timeline" href="https://twitter.com/SMAPanama" data-widget-id="402200072617598976" data-aria-polite="assertive" width="600" height="500" lang="es" data-chrome="nofooter noborders transparent">Tweets por @@SMAPanama</a>
            </div>
            <div class="span3">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Blog -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3305573167906515"
                     data-ad-slot="7344981189"
                     data-ad-format="auto"></ins>
                <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
