@{
    ViewBag.Title = "Review No Permitido";
}



<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Review no Disponibles</h3>
            </div>

            <br />
            <br />

            <p>No se puede dar review a una solicitud que no ha sido creada con su cuenta o que no está a espera de un review</p>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Volver a Inicio", "Index", "Home")
</div>
