@{
    ViewBag.Title = "Registration Completed";
}




<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Registration Completed</h3>
            </div>


            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <p>You have completed the registration process. You can now logon to the system by clicking on the logon link. <a href="@Url.Action("Login", "Account")">Click Here</a></p>
                    </div>


                </div>
                <!--/row-fluid-->

                <div>
                </div>
            </div>
            <!--/container-->

        </div>
    </div>
</div>
