@{
    ViewBag.Title = "Registration Completed";
}




<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Registro Completo</h3>
            </div>


            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <h4>Usted ha completado el proceso de registro en Service Market. Puede iniciar sesión en el sistema haciendo clic en el siguiente link. <a href="@Url.Action("Login", "Account")">Clic Aquí</a></h4>
                    </div>


                </div>
                <!--/row-fluid-->

                <div>
                </div>
            </div>
            <!--/container-->

        </div>
    </div>
</div>
