@{
    ViewBag.Title = "Registration Error";
}




<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Registration Error</h3>
            </div>


            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <p>There was an error confirming your email. Please try again.</p>
                    </div>


                </div>
                <!--/row-fluid-->

                <div>
                </div>
            </div>
            <!--/container-->

        </div>
    </div>
</div>