@{
    ViewBag.Title = "Instrucciones de Registro";
}




<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Instrucciones de Registro</h3>
            </div>


            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <h4>
                            Para completar el proceso de registro se ha enviado a su correo electrónico el vinculo de confirmación, 
                        </h4>
                        <h4>
                            solo debe hacer click al mismo para confirmar la cuenta.
                        </h4>
                    </div>


                </div>
                <!--/row-fluid-->

                <div>
                </div>
            </div>
            <!--/container-->

        </div>
    </div>
</div>
