@{
    ViewBag.Title = "Password Restored";
}



<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">

        <div class="another-page">
            <div class="headline">
                <h3>Nueva Contraseña de Service Market</h3>
            </div>


            <div class="container">
                <div class="row-fluid">
                    <div class="span11">
                        <h4>@TempData["Message"].ToString()</h4>
                    </div>


                </div>
                <!--/row-fluid-->

                <div>
                </div>
            </div>
            <!--/container-->

        </div>
    </div>
</div>


