@model IEnumerable<SMAWeb.Models.MB_Membresia>
@{
    ViewBag.Title = "Tipos de Membresia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row-fluid margin-bottom-10">
        <div class="another-page">
            <div class="headline">
                <h3>Tipos de Membresia</h3>
            </div>
            <br />
            <div class="row-fluid margin-bottom-40">

                @foreach (var item in Model)
                {
                    <div class="span3 pricing hover-effect">
                        <div class="pricing-head">
                            <h3>@Html.DisplayFor(modelItem => item.MP_Descripcion) <span>Planes Service Market</span></h3>
                            @if (item.MP_ExpiracionDays == 1)
                            {
                                <h4><i>Gratis</i><span>Todos los meses</span></h4>
                            }
                            else if (item.MP_ExpiracionDays == 3)
                            {
                                <h4><i>$</i>1<i>.95</i> <span>Por Mes</span></h4>
                            }
                            else if (item.MP_ExpiracionDays == 12)
                            {
                                <h4><i>$</i>1<i>.50</i> <span>Por Mes</span></h4>
                            }
                            else if (item.MP_ExpiracionDays == 24)
                            {
                                <h4><i>$</i>1<i>.25</i> <span>Por Mes</span></h4>
                            }
                            
                        </div>
                        <ul class="pricing-content unstyled">
                     @if (item.MP_ExpiracionDays == 1)
                     {
                               <li><i class="icon-tags"></i>Membresía por @Html.DisplayFor(modelItem => item.MP_ExpiracionDays) mes</li>
                     }
                            else
                            {
                         <li><i class="icon-tags"></i>Membresía por @Html.DisplayFor(modelItem => item.MP_ExpiracionDays) meses</li>
                     }
                               
                            <li><i class="icon-asterisk"></i>Cantidad de anuncios: @Html.DisplayFor(modelItem => item.MP_AnunciosQty)</li>
                            @*<li><i class="icon-heart"></i>Fusce condimentum</li>
                            <li><i class="icon-star"></i>Ut non libero</li>
                            *@
                            
                            @if (item.MP_ExpiracionDays == 1)
                            {
                            <li><i class="icon-shopping-cart"></i>Siempre Gratis</li>
                            }
                            else if (item.MP_ExpiracionDays == 3)
                            {
                                <li><i class="icon-shopping-cart"></i>Total a Pagar: $5.85</li>
                            }
                            else if (item.MP_ExpiracionDays == 12)
                            {
                                <li><i class="icon-shopping-cart"></i>Total a Pagar: $18.00</li>
                            }
                            else if (item.MP_ExpiracionDays == 24)
                            {
                                <li><i class="icon-shopping-cart"></i>Total a Pagar: $30.00</li>
                            }
                        </ul>
                        <div class="pricing-footer">
                            <p>Publique, actualice y agregue imágenes a sus anuncios.</p>
                            <button type="submit">Ordene ahora</button>
                        </div>
                    </div>
                    
                }

            </div>
        </div>
    </div>
</div>
